---
import { Image } from "astro:assets";
import Head from "../components/Head.astro";
import "../styles/global.css";
import CircleScribble from "../icons/circle-scribble.svg";
import Star from "../icons/star1.svg";
import DownArrow from "../icons/down-arrow.svg";
import aurecon from "../images/aurecon.png";
import ngi from "../images/ngi.png";
import nml from "../images/nml.png";
import storage from "../images/storage.png";
import Diamond from "../icons/diamond.svg";
import Heart2 from "../icons/heart2.svg";
import Smile2 from "../icons/smile2.svg";
import lilly1 from "../images/lillyA.jpg";
import lilly2 from "../images/lillyB.jpg";
import LillyArrow from "../icons/arrow4.svg";
import LinkedIn from "../icons/linkedin.svg";
import Github from "../icons/github.svg";
import Mail from "../icons/mail.svg";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Kate Blake" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <script src="../scripts/theme-init.js"></script>

    <Head />
    <link rel="preload" as="font" type="font/woff2" crossorigin href="/fonts/crit-top-subset.woff2" />
    <link rel="preload" as="font" type="font/woff2" crossorigin href="/fonts/crit-name-subset.woff2" />
    <link rel="preload" as="font" type="font/woff2" crossorigin href="/fonts/NanumPenScript-Regular-subset.woff2" />
    <style>
      @font-face {
        font-family: "H1 Fallback";
        src: local("Arial"), local("Helvetica"), local("sans-serif");
      }

      /* critiical h1 and nav */
      @font-face {
        font-family: "Lexend Zetta Top Crit";
        src: url("/fonts/crit-top-subset.woff2") format("woff2");
        font-weight: 500 700;
        font-style: normal;
        font-display: swap;
      }

      /* critical name */
      @font-face {
        font-family: "Lexend Zetta Name Crit";
        src: url("/fonts/crit-name-subset.woff2") format("woff2");
        font-weight: bold;
        font-style: normal;
        font-display: swap;
      }

      /* handwriting font */
      @font-face {
        font-family: "Nanum Pen";
        src: url("/fonts/NanumPenScript-Regular-subset.woff2") format("woff2");
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }

      /* regular body font */
      @font-face {
        font-family: "Lexend Exa";
        src: url("/fonts/LexendExa-VariableFont_wght-subset.woff2") format("woff2");
        font-weight: 100 900;
        font-display: swap;
      }

      /* headings font */
      @font-face {
        font-family: "Lexend Zetta";
        src: url("/fonts/LexendZetta-VariableFont_wght-subset.woff2") format("woff2");
        font-weight: 100 900;
        font-display: swap;
      }

      h1,
      header ul > li,
      .monogram {
        font-family: "Lexend Zetta Top Crit", "H1 Fallback", sans-serif;
      }

      .intro .title .name {
        font-family: "Lexend Zetta Name Crit", "H1 Fallback", sans-serif;
      }

      .intro .handwriting {
        font-family: "Nanum Pen", cursive;
      }

      body {
        font-family:
          "Lexend Exa",
          -apple-system,
          BlinkMacSystemFont,
          "Segoe UI",
          Roboto,
          Helvetica,
          Arial,
          sans-serif,
          "Apple Color Emoji",
          "Segoe UI Emoji",
          "Segoe UI Symbol";
      }
    </style>
  </head>
  <body>
    <header>
      <svg class="visually-hidden" aria-hidden="true">
        <defs>
          <filter id="wiggle">
            <feTurbulence baseFrequency="0.01" numOctaves="1" type="fractalNoise" result="turbulence">
              <animate attributeName="seed" dur="10s" repeatCount="indefinite" values="1; 30; 1"></animate>
            </feTurbulence>
            <feDisplacementMap in="SourceGraphic" in2="turbulence" scale="5" xChannelSelector="R" yChannelSelector="G"
            ></feDisplacementMap>
          </filter>
        </defs>
      </svg>
      <div class="header-top">
        <p class="monogram" aria-hidden="true">KB<span>.</span><span>!</span></p>
        <ul class="text-menu">
          <li>
            <a href="#about">
              About
              <CircleScribble />
            </a>
          </li>
          <li>
            <a href="#work">
              Work
              <CircleScribble />
            </a>
          </li>
          <li>
            <a href="#contact">
              Contact
              <CircleScribble />
            </a>
          </li>
        </ul>
        <button
          class="hamburger"
          aria-label="Toggle menu"
          aria-expanded="false"
          aria-controls="mobileMenu"
          type="button"
        >
          <svg viewBox="0 0 10 10">
            <path d="M2,3 L8,3" class="p1"></path>
            <path d="M2,5 L8,5" class="p2"></path>
            <path d="M2,7 L8,7" class="p3"></path>
          </svg>
        </button>
        <div class="themes">
          <button id="themeToggle" aria-pressed="false" type="button"
            ><svg
              id="sunIcon"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="200"
              height="200"
              viewBox="0 0 56 56"
              ><path
                fill="var(--foreground)"
                d="M30.04 4.61c0-1.102-.938-2.04-2.04-2.04s-2.039.938-2.039 2.04v4.92c0 1.102.938 2.04 2.04 2.04c1.1 0 2.038-.938 2.038-2.04Zm9.538 8.929c-.773.797-.773 2.11 0 2.883c.797.797 2.086.82 2.906 0l3.493-3.492a2.065 2.065 0 0 0 0-2.907c-.774-.773-2.086-.773-2.883 0Zm-26.062 2.883c.773.797 2.086.797 2.882 0c.774-.75.774-2.11.024-2.883l-3.492-3.516c-.75-.75-2.086-.773-2.883 0c-.774.774-.774 2.11-.024 2.883ZM28 16.047c-6.539 0-11.953 5.414-11.953 11.953S21.46 39.977 28 39.977c6.516 0 11.93-5.438 11.93-11.977c0-6.54-5.414-11.953-11.93-11.953m0 3.586c4.57 0 8.367 3.797 8.367 8.367S32.57 36.39 28 36.39c-4.594 0-8.39-3.82-8.39-8.39s3.796-8.367 8.39-8.367m23.32 10.406c1.102 0 2.04-.937 2.04-2.039s-.938-2.04-2.04-2.04h-4.898c-1.102 0-2.04.938-2.04 2.04s.938 2.039 2.04 2.039ZM4.68 25.961c-1.102 0-2.04.937-2.04 2.039s.938 2.039 2.04 2.039h4.898c1.102 0 2.04-.937 2.04-2.039s-.938-2.04-2.04-2.04ZM42.46 39.6a2.08 2.08 0 0 0-2.883 0c-.773.774-.773 2.087 0 2.883L43.094 46c.797.773 2.11.75 2.883-.023c.797-.774.797-2.086 0-2.883Zm-32.437 3.47c-.797.773-.797 2.109-.024 2.882c.774.774 2.11.797 2.906.024l3.492-3.493c.774-.773.774-2.086.024-2.882c-.774-.774-2.11-.774-2.906 0Zm20.015 3.398c0-1.102-.937-2.04-2.039-2.04s-2.039.938-2.039 2.04v4.922c0 1.101.938 2.039 2.04 2.039c1.1 0 2.038-.938 2.038-2.04Z"
              ></path></svg
            >
            <svg
              id="moonIcon"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="200"
              height="200"
              viewBox="0 0 56 56"
              ><path
                fill="var(--foreground)"
                d="M31.316 14.887c.282 0 .446-.188.492-.446c.727-3.89.704-3.984 4.758-4.78c.281-.048.446-.188.446-.47c0-.304-.165-.445-.446-.492c-4.054-.82-4.03-.89-4.758-4.781c-.046-.258-.21-.445-.492-.445c-.28 0-.422.187-.468.445c-.75 3.89-.704 3.96-4.782 4.781c-.258.047-.445.188-.445.492c0 .282.188.422.445.47c4.102.796 4.032.89 4.782 4.78c.046.258.187.446.468.446M42.543 30.73c.422 0 .726-.304.773-.75c.774-6.304 1.031-6.398 7.43-7.453c.516-.093.82-.328.82-.797c0-.445-.304-.726-.726-.796c-6.493-1.102-6.75-1.149-7.524-7.454c-.047-.445-.351-.75-.773-.75c-.446 0-.75.305-.797.727c-.82 6.305-1.008 6.375-7.523 7.477c-.422.07-.727.351-.727.796c0 .446.305.704.727.797c6.515 1.055 6.75 1.149 7.523 7.5a.775.775 0 0 0 .797.703M24.918 52.528c8.578 0 15.516-4.312 18.68-11.648c.421-1.008.28-1.781-.164-2.25c-.422-.398-1.125-.492-1.97-.164c-1.757.703-3.913 1.101-6.609 1.101c-10.476 0-17.226-6.539-17.226-16.828c0-2.836.539-5.648 1.265-7.125c.47-.937.422-1.734.024-2.226c-.445-.516-1.242-.68-2.344-.235c-7.195 2.93-12.14 10.43-12.14 19.196c0 11.414 8.39 20.18 20.484 20.18m.047-3.562c-10.008 0-16.969-7.29-16.969-16.899c0-5.906 2.742-11.109 7.102-14.437c-.563 1.523-.891 3.867-.891 6.117c0 11.531 7.969 19.266 19.758 19.266c2.11 0 4.031-.258 5.015-.61c-2.93 4.055-8.156 6.563-14.015 6.563"
              ></path></svg
            >
            <span class="visually-hidden">Activate light mode</span></button
          >
        </div>
      </div>
      <ul class="text-menu mobile-menu" id="mobileMenu">
        <li>
          <a href="#about">
            About
            <CircleScribble />
          </a>
        </li>
        <li>
          <a href="#work">
            Work
            <CircleScribble />
          </a>
        </li>
        <li>
          <a href="#contact">
            Contact
            <CircleScribble />
          </a>
        </li>
      </ul>
    </header>
    <main>
      <section class="intro">
        <div>
          <h1 class="title">
            <span class="name">Kate Blake</span><br />
            Front End <Star class="icon" aria-hidden="true" /><br />
            Web <span class="underline">Developer</span>
          </h1>
          <p class="greetings handwriting">Nice to meet you :)</p>
          <a href="#work" class="get-started handwriting">
            Let's get started!
            <DownArrow aria-hidden="true" />
          </a>
        </div>
      </section>
      <section id="work">
        <h2><span class="underline">Featured</span> <Diamond aria-hidden="true" class="icon" /> Work</h2>
        <ul>
          <li>
            <article>
              <div class="border-glow" aria-hidden="true"></div>
              <Image src={aurecon} alt="Aurecon website preview" />
              <h3>Aurecon</h3>
              <ul class="technologies" aria-label="Technologies I used in Aurecon project:">
                <li>React</li>
                <li>Typescript</li>
                <li>Framer Motion</li>
                <li>Storybook</li>
              </ul>
              <p>
                A global engineering firm from the South Pacific. Big requirements for a big project. I focused on
                building their redesigned geo-location switcher, homepage animations and navigation in React with Framer
                Motion. Quite a deep dive into Typescript and managing complex components.
              </p>
              <a href="https://www.aurecongroup.com/">
                <span aria-hidden="true" class="link-star"></span>View Aurecon Site
                <span aria-hidden="true" class="link-arrow"></span>
              </a>
            </article>
          </li>
          <li>
            <article>
              <div class="border-glow" aria-hidden="true"></div>
              <Image src={ngi} alt="Nedgroup Investments website preview" />
              <h3>Nedgroup Investments</h3>
              <ul class="technologies" aria-label="Technologies I used in Nedgroup Investments project:">
                <li>HTML</li>
                <li>SCSS</li>
                <li>JavaScript</li>
              </ul>
              <p>
                My very first production project :) I worked on dozens of components and layouts in vanilla HTML/CSS/JS
                (no frameworks), from staff portals to landing pages, all within a giant design system.
              </p>
              <a href="https://www.nedgroupinvestments.com/content/NGISingleSiteContent/Other.html">
                <span aria-hidden="true" class="link-star"></span>View Nedgroup Investments Site<span
                  aria-hidden="true"
                  class="link-arrow"></span>
              </a>
            </article>
          </li>
          <li>
            <article>
              <div class="border-glow" aria-hidden="true"></div>
              <Image src={nml} alt="NML's 2023 yearend website preview" />
              <h3>NML 2023 Yearend</h3>
              <ul class="technologies" aria-label="Technologies I used in NML 2023 Yearend project:">
                <li>Next.js</li>
                <li>Typescript</li>
                <li>Tailwind CSS</li>
                <li>Framer Motion</li>
              </ul>
              <p>
                A fun internal year-end report site built with Next.js and Framer Motion. My first time using motion
                animations. Lots of playful UI, subtle transitions and even easter eggs!
              </p>
              <a href="https://yearend.nml.co.za/"
                ><span aria-hidden="true" class="link-star"></span>View NML 2023 Yearend Site<span
                  aria-hidden="true"
                  class="link-arrow"></span></a
              >
            </article>
          </li>
          <li>
            <article>
              <div class="border-glow" aria-hidden="true"></div>
              <Image src={storage} alt="Stor-Age website preview" />
              <h3>Stor-Age</h3>
              <ul class="technologies" aria-label="Technologies I used in Stor-Age project:">
                <li>Next.js</li>
                <li>Typescript</li>
                <li>Strapi</li>
                <li>PostHog</li>
              </ul>
              <p>
                Helped modernise the site for South Africa's leading self-storage brand. Replaced legacy systems with
                Next.js and Strapi and implemented analytics with PostHog.
              </p>
              <a href="https://www.stor-age.co.za/"
                ><span aria-hidden="true" class="link-star"></span>View Stor-Age Site<span
                  aria-hidden="true"
                  class="link-arrow"></span></a
              >
            </article>
          </li>
        </ul>
      </section>
      <section id="about">
        <h2>
          About <Heart2 class="icon" aria-hidden="true" />
          <span class="underline">Me</span>
        </h2>
        <p>
          I've been obsessed with tech ever since I got my first laptop at 10 and have never looked back. Today I'm an
          intermediate dev at NML, building complex frontends for big companies and ensuring they're accessible while
          I'm at it. I love getting stuck into CSS, upcoming web features and other cool things on the web. Outside of
          work, I'm studying towards a BSc in Computer Science (even if it means less sleep).
        </p>
        <div class="other-stuff">
          <div>
            <h3 id="other-stuff-i-like"><span class="underline">Other stuff I like:</span></h3>
            <ul aria-labelledby="other-stuff-i-like">
              <li>My cat Lilly</li>
              <li>3D Modelling</li>
              <li>Simulator games</li>
              <li>
                Movies that pass the <a href="https://bechdeltest.com/">Bechdel Test<CircleScribble /></a>
              </li>
              <li>Remembering all capital cities</li>
              <li>Pineapple on pizza</li>
            </ul>
            <p class="handwriting">
              Interact to see another pic of Lilly!<LillyArrow class="icon" aria-hidden="true" />
            </p>
          </div>
          <div>
            <button
              class="lilly-pics"
              type="button"
              aria-label="Toggle between different pictures of Lilly"
              aria-pressed="false"
            >
              <figure>
                <Image src={lilly1} alt="My cat Lilly lying outside looking content" />
                <figcaption>Lilly being a model.</figcaption>
              </figure>
              <figure>
                <Image src={lilly2} alt="Lilly crouched inside of an empty bag while poking her head out" />
                <figcaption>Lilly being a cave (bag) explorer.</figcaption>
              </figure>
            </button>
          </div>
        </div>
      </section>
      <section id="contact">
        <h2>
          <span class="underline">Contact</span>
          <Smile2 class="icon" aria-hidden="true" />
        </h2>
        <ul>
          <li>
            <a href="https://linkedin.com/in/kateblake3" aria-label="LinkedIn profile"
              ><LinkedIn aria-label="LinkedIn logo" /></a
            >
          </li>
          <li>
            <a href="https://github.com/yayokb" aria-label="GitHub profile"><Github aria-label="GitHub logo" /></a>
          </li>
          <li>
            <a href="mailto:kateellablake@gmail.com">kateellablake@gmail.com</a><a href="mailto:kateellablake@gmail.com"
              ><Mail aria-label="Mail logo" /></a
            >
          </li>
        </ul>
      </section>
    </main>
    <footer>
      <p>
        <span id="year"></span>. Developed by me, draft designed by <a
          href="https://portfolio-amber-jones-projects.vercel.app/">Amber Jones</a
        >!
      </p>
    </footer>
    <script src="../scripts/update-year.js"></script>
    <script src="../scripts/hamburger-menu.js"></script>
    <script src="../scripts/theme-switch.js"></script>
    <script src="../scripts/lilly-pics-toggle.js"></script>
  </body>
</html>
