---
import { Image } from "astro:assets";
import Head from "../components/Head.astro";
import "../styles/global.css";
import CircleScribble from "../icons/circle-scribble.svg";
import Star from "../icons/star1.svg";
import DownArrow from "../icons/down-arrow.svg";
import aurecon from "../images/aurecon.png";
import ngi from "../images/ngi.png";
import nml from "../images/nml.png";
import storage from "../images/storage.png";
import Diamond from "../icons/diamond.svg";
import Heart2 from "../icons/heart2.svg";
import Smile2 from "../icons/smile2.svg";
import lilly1 from "../images/lillyA.jpg";
import lilly2 from "../images/lillyB.jpg";
import LillyArrow from "../icons/arrow4.svg";
import LinkedIn from "../icons/linkedinn.svg";
import Github from "../icons/githubb.svg";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <Head />
    <link rel="preload" as="font" type="font/woff2" crossorigin href="/fonts/crit-h1-subset.woff2" />
    <link rel="preload" as="font" type="font/woff2" crossorigin href="/fonts/crit-name-subset.woff2" />
    <link rel="preload" as="font" type="font/woff2" crossorigin href="/fonts/crit-pen-subset.woff2" />
    <link rel="preload" as="font" type="font/woff2" crossorigin href="/fonts/crit-nav-subset.woff2" />
    <style>
      @font-face {
        font-family: "H1 Fallback";
        src: local("Arial"), local("Helvetica"), local("sans-serif");
      }

      /* critiical h1 */
      @font-face {
        font-family: "Lexend Zetta H1 Crit";
        src: url("/fonts/crit-h1-subset.woff2") format("woff2");
        font-weight: bold;
        font-style: normal;
        font-display: swap;
      }

      /* critical name */
      @font-face {
        font-family: "Lexend Zetta Name Crit";
        src: url("/fonts/crit-name-subset.woff2") format("woff2");
        font-weight: bold;
        font-style: normal;
        font-display: swap;
      }

      /* critical nav */
      @font-face {
        font-family: "Lexend Zetta Nav Crit";
        src: url("/fonts/crit-nav-subset.woff2") format("woff2");
        font-weight: 500;
        font-style: normal;
        font-display: swap;
      }

      /* critical handwriting */
      @font-face {
        font-family: "Nanum Pen Crit";
        src: url("/fonts/crit-pen-subset.woff2") format("woff2");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      /* regular body font */
      @font-face {
        font-family: "Lexend Exa";
        src: url("/fonts/LexendExa-VariableFont_wght-subset.woff2") format("woff2");
        font-weight: 100 900;
        font-display: swap;
      }

      /* headings font */
      @font-face {
        font-family: "Lexend Zetta";
        src: url("/fonts/LexendZetta-VariableFont_wght-subset.woff2") format("woff2");
        font-weight: 100 900;
        font-display: swap;
      }

      /* handwriting font */
      @font-face {
        font-family: "Nanum Pen";
        src: url("/fonts/NanumPenScript-Regular-subset.woff2") format("woff2");
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }

      h1 {
        font-family: "Lexend Zetta H1 Crit", "H1 Fallback", sans-serif;
      }

      .intro .title .name {
        font-family: "Lexend Zetta Name Crit", "H1 Fallback", sans-serif;
      }

      header ul > li {
        font-family: "Lexend Zetta Nav Crit", "H1 Fallback", sans-serif;
      }

      .intro .handwriting {
        font-family: "Nanum Pen Crit", cursive;
      }

      body {
        font-family:
          "Lexend Exa",
          -apple-system,
          BlinkMacSystemFont,
          "Segoe UI",
          Roboto,
          Helvetica,
          Arial,
          sans-serif,
          "Apple Color Emoji",
          "Segoe UI Emoji",
          "Segoe UI Symbol";
      }
    </style>
  </head>
  <body>
    <header>
      <svg class="visually-hidden" aria-hidden="true">
        <defs>
          <filter id="wiggle">
            <feTurbulence baseFrequency="0.01" numOctaves="1" type="fractalNoise" result="turbulence">
              <animate attributeName="seed" dur="10s" repeatCount="indefinite" values="1; 30; 1"></animate>
            </feTurbulence>
            <feDisplacementMap in="SourceGraphic" in2="turbulence" scale="5" xChannelSelector="R" yChannelSelector="G"
            ></feDisplacementMap>
          </filter>
        </defs>
      </svg>
      <p class="logo">
        <a href="/">KB</a>
      </p>
      <ul>
        <li>
          <a href="#work">
            About
            <CircleScribble />
          </a>
        </li>
        <li>
          <a href="#about">
            Work
            <CircleScribble />
          </a>
        </li>
        <li>
          <a href="#contact">
            Contact
            <CircleScribble />
          </a>
        </li>
      </ul>
    </header>
    <main>
      <section class="intro">
        <div>
          <h1 class="title">
            <span class="name">Kate Blake</span><br />
            Front End <Star class="icon" aria-hidden /><br />
            Web <span class="underline">Developer</span>
          </h1>
          <p class="greetings handwriting">Nice to meet you :)</p>
          <a href="#work" class="get-started handwriting">
            Let's get started!
            <DownArrow />
          </a>
        </div>
      </section>
      <section id="work">
        <h2><span class="underline">Featured</span> <Diamond aria-hidden class="icon" /> Work</h2>
        <ul>
          <li>
            <article>
              <div class="border-glow" aria-hidden></div>
              <Image src={aurecon} alt="Aurecon website preview" />
              <h3>Aurecon</h3>
              <ul class="technologies" aria-label="Technologies I used in Aurecon project:">
                <li>React</li>
                <li>Typescript</li>
                <li>Framer Motion</li>
                <li>Storybook</li>
              </ul>
              <p>
                A global engineering firm from the South Pacific. Big requirements for a big project. I focused on
                building their redesigned geo-location switcher, homepage animations and navigation in React with Framer
                Motion. Quite a deep dive into Typescript and managing complex components.
              </p>
              <a href="https://www.aurecongroup.com/"> View Site </a>
            </article>
          </li>
          <li>
            <article>
              <div class="border-glow" aria-hidden></div>
              <Image src={ngi} alt="Nedgroup Investments website preview" />
              <h3>Nedgroup Investments</h3>
              <ul class="technologies" aria-label="Technologies I used in Nedgroup Investments project:">
                <li>HTML</li>
                <li>SCSS</li>
                <li>JavaScript</li>
              </ul>
              <p>
                My very first production project :) I worked on dozens of components and layouts in vanilla HTML/CSS/JS
                (no frameworks), from staff portals to landing pages, all within a giant design system.
              </p>
              <a href="https://www.nedgroupinvestments.com/content/NGISingleSiteContent/Other.html">View Site</a>
            </article>
          </li>
          <li>
            <article>
              <div class="border-glow" aria-hidden></div>
              <Image src={nml} alt="NML's 2023 yearend website preview" />
              <h3>NML 2023 Yearend</h3>
              <ul class="technologies" aria-label="Technologies I used in NML 2023 Yearend project:">
                <li>Next.js</li>
                <li>Typescript</li>
                <li>Tailwind CSS</li>
                <li>Framer Motion</li>
              </ul>
              <p>
                A fun internal year-end report site built with Next.js and Framer Motion. My first time using motion
                animations. Lots of playful UI, subtle transitions and even easter eggs!
              </p>
              <a href="https://yearend.nml.co.za/">View Site</a>
            </article>
          </li>
          <li>
            <article>
              <div class="border-glow" aria-hidden></div>
              <Image src={storage} alt="Stor-Age website preview" />
              <h3>Stor-Age</h3>
              <ul class="technologies" aria-label="Technologies I used in Stor-Age project:">
                <li>Next.js</li>
                <li>Typescript</li>
                <li>Framer Motion</li>
                <li>Strapi</li>
              </ul>
              <p>
                Helped modernise the site for South Africa's leading self-storage brand. I rebuilt their store directory
                and landing pages in Next.js and hooked up Strapi CMS to replace parts of their old system.
              </p>
              <a href="https://www.stor-age.co.za/">View Site</a>
            </article>
          </li>
        </ul>
      </section>
      <section id="about">
        <h2>
          About <Heart2 class="icon" aria-hidden />
          <span class="underline">Me</span>
        </h2>
        <p>
          I've been obsessed with tech ever since I got my first laptop at 10 and have never looked back. Today I'm an
          intermediate dev at NML, building complex frontends for big companies and ensuring they're accessible while
          I'm at it. I love getting stuck into CSS, upcoming web features and other cool things on the web. Outside of
          work, I'm studying towards a BSc in Computer Science (even if it means less sleep).
        </p>
        <div class="other-stuff">
          <div>
            <h3 id="other-stuff-i-like"><span class="underline">Other stuff I like:</span></h3>
            <ul aria-labelledby="other-stuff-i-like">
              <li>My cat Lilly</li>
              <li>3D Modelling</li>
              <li>Simulator games</li>
              <li>
                Movies that pass the <a href="https://bechdeltest.com/">Bechdel Test<CircleScribble /></a>
              </li>
              <li>Remembering all capital cities</li>
              <li>Pineapple on pizza</li>
            </ul>
            <p class="handwriting">Interact to see another pic of Lilly!<LillyArrow class="icon" aria-hidden /></p>
          </div>
          <div>
            <button
              class="lilly-pics"
              type="button"
              aria-label="Toggle between different pictures of Lilly"
              aria-pressed="false"
            >
              <figure>
                <Image src={lilly1} alt="My cat Lilly lying outside looking content" />
                <figcaption>Lilly being a model.</figcaption>
              </figure>
              <figure>
                <Image src={lilly2} alt="Lilly crouched inside of an empty bag while poking her head out" />
                <figcaption>Lilly being a cave (bag) explorer.</figcaption>
              </figure>
            </button>
          </div>
        </div>
      </section>
      <section id="contact">
        <h2>
          <span class="underline">Contact</span>
          <Smile2 class="icon" aria-hidden />
        </h2>
        <ul>
          <li>
            <a href="https://linkedin.com/in/kateblake" aria-label="LinkedIn profile"
              ><LinkedIn aria-label="LinkedIn logo" /></a
            >
          </li>
          <li>
            <a href="https://github.com/yayokb" aria-label="GitHub profile"><Github aria-label="GitHub logo" /></a>
          </li>
          <li><a href="mailto:kateellablake@gmail.com">kateellablake@gmail.com</a></li>
        </ul>
      </section>
    </main>
    <footer>
      <p>
        2025. Developed by me, designed by <a href="https://portfolio-amber-jones-projects.vercel.app/">Amber Jones</a>!
      </p>
    </footer>

    <script src="../scripts/lilly-pics-toggle.js"></script>
  </body>
</html>
